<!DOCTYPE html>
<html>
    <head>
        <title>Make your Meme!</title>
        <meta name="viewport" content="width: device-width">
        <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    </head>
    <body>
        <div class="hero">
            <h1 class="hero__text">Make your Meme!</h1>
        </div>
        
        <div class="options">
            <form method="POST">
                <div class = "row">
                    <div class="column">
                        <label>
                            <input type="radio" name = "meme" value="{{memeID[0]}}">
                            <img src = {{memeU[0]}}>
                        </label>
                    </div>
                    <div class="column">
                        <label>
                            <input type="radio" name = "meme" value="{{memeID[1]}}">
                            <img src = "{{memeU[1]}}">
                        </label>
                    </div>
                    <div class="column">
                        <label>
                            <input type="radio" name = "meme" value="{{memeID[2]}}">
                            <img src = "{{memeU[2]}}">
                        </label>
                    </div>
                    <div class="column">
                        <label>
                            <input type="radio" name = "meme" value="{{memeID[3]}}">
                            <img src = "{{memeU[3]}}">
                        </label>
                    </div>

                    

                </div>
                <div class = "row">
                    <div class="column">
                        <label>
                            <input type="radio" name = "meme" value="{{memeID[4]}}">
                            <img src = {{memeU[4]}}>
                        </label>
                    </div>
                    <div class="column">
                        <label>
                            <input type="radio" name = "meme" value="{{memeID[5]}}">
                            <img src = "{{memeU[5]}}">
                        </label>
                    </div>
                    <div class="column">
                        <label>
                            <input type="radio" name = "meme" value="{{memeID[6]}}">
                            <img src = "{{memeU[6]}}">
                        </label>
                    </div>
                    <div class="column">
                        <label>
                            <input type="radio" name = "meme" value="{{memeID[7]}}">
                            <img src = "{{memeU[7]}}">
                        </label>
                    </div>

                    

                </div>
                <br>
                <br>
                
                <center>
                <input type="text" name="text0" placeholder="First text box">
                <br>
                <br>

                <input type="text" name="text1" placeholder="Second text box">
                <br>
                <br>
                <input type="Submit">
                </center>
            </form>

        </div>
        {%if res!=''%}
        <div class="result">
            <img src="{{res}}">
        </div>
        {%endif%}
        
    </body>


</html>