<!DOCTYPE html>
<html>
    <head>
        <title>Make your Meme!</title>
        <meta name="viewport" content="width: device-width">
        <link rel="stylesheet" type="text/css" href="/static/styles/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="hero">
            <h1 class="hero__text">Make your Meme!</h1>
            <div class="items">
                <div class="cirlce">
                    <p class="item__text" id="cartcount" style="color: white;">0</p>
                </div>
                
                <i class="fa fa-shopping-cart" style="font-size:30px; color:rgb(223, 64, 37);"></i>
            </div>
        </div>
        
        
        <div class="options">
            <form method="POST">
                <div class = "row">
                    <div class="column">
                        <label class="container">
                            <input type="checkbox" name = "meme" value="{{memeID[0]}}" onclick="update(this)">
                            <img src = {{memeU[0][0]}}>
                            <button type="submit" formaction="/memeWeb/{{memeU[0][1]}}" formmethod="GET"><i class="fa fa-search" style="font-size:20px; color:rgb(223, 64, 37);"></i></button>
                        </label>
                    </div>
                    <div class="column">
                        <label class="container">
                            <input type="checkbox" name = "meme" value="{{memeID[1]}}"onclick="update(this)">
                            <img src = "{{memeU[1][0]}}">
                            <button type="submit" formaction="/memeWeb/{{memeU[1][1]}}" formmethod="GET"><i class="fa fa-search" style="font-size:20px; color:rgb(223, 64, 37);"></i></button>
                        </label>
                    </div>
                    <div class="column">
                        <label class="container">
                            <input type="checkbox" name = "meme" value="{{memeID[2]}}"onclick="update(this)">
                            <img src = "{{memeU[2][0]}}">
                            <button type="submit" formaction="/memeWeb/{{memeU[2][1]}}" formmethod="GET"><i class="fa fa-search" style="font-size:20px; color:rgb(223, 64, 37);"></i></button>
                        </label>
                    </div>
                    <div class="column">
                        <label class="container">
                            <input type="checkbox" name = "meme" value="{{memeID[3]}}"onclick="update(this)">
                            <img src = "{{memeU[3][0]}}">
                            <button type="submit" formaction="/memeWeb/{{memeU[3][1]}}" formmethod="GET"><i class="fa fa-search" style="font-size:20px; color:rgb(223, 64, 37);"></i></button>
                        </label>
                    </div>

                    

                </div>
                <div class = "row">
                    <div class="column">
                        
                        <input type="checkbox" name = "meme" value="{{memeID[4]}}" id="{{memeID[4]}}"onclick="update(this)">
                        <label class="container" for="{{memeID[4]}}">
                            <img src = {{memeU[4][0]}}>
                            <button type="submit" formaction="/memeWeb/{{memeU[4][1]}}" formmethod="GET"><i class="fa fa-search" style="font-size:20px; color:rgb(223, 64, 37);"></i></button>
                        </label>
                    </div>
                    <div class="column">
                        <label class="container">
                            <input type="checkbox" name = "meme" value="{{memeID[5]}}"onclick="update(this)">
                            <img src = "{{memeU[5][0]}}">
                            <button type="submit" formaction="/memeWeb/{{memeU[5][1]}}" formmethod="GET"><i class="fa fa-search" style="font-size:20px; color:rgb(223, 64, 37);"></i></button>
                        </label>
                    </div>
                    <div class="column">
                        <label class="container">
                            <input type="checkbox" name = "meme" value="{{memeID[6]}}"onclick="update(this)">
                            <img src = "{{memeU[6][0]}}">
                            <button type="submit" formaction="/memeWeb/{{memeU[6][1]}}" formmethod="GET"><i class="fa fa-search" style="font-size:20px; color:rgb(223, 64, 37);"></i></button>
                        </label>
                    </div>
                    <div class="column">
                        <label class="container">
                            <input type="checkbox" name = "meme" value="{{memeID[7]}}"onclick="update(this)">
                            <img src = "{{memeU[7][0]}}">
                            <button type="submit" formaction="/memeWeb/{{memeU[7][1]}}" formmethod="GET"><i class="fa fa-search" style="font-size:20px; color:rgb(223, 64, 37);"></i></button>
                        </label>
                    </div>

                    

                </div>
                <br>
                <br>
                
                <center>
                <input type="Submit" value="Edit!">
                </center>
            </form>

        </div>
        <br>
        <br>
        <br>
        
    </body>
    <script>
        var cartitems = 0
        function update(checkbox){
            if(checkbox.checked){
                cartitems += 1
            }
            else{
                cartitems -= 1
            }
            document.getElementById('cartcount').innerHTML = cartitems;
        }

    </script>


</html>