<!DOCTYPE html>
<html>
    <head>
        <title>Make your Meme!</title>
        <meta name="viewport" content="width: device-width">
        <link rel="stylesheet" type="text/css" href="/static/styles/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="hero">
            <h1 class="hero__text">Meme Info : {{name}}</h1>
            <div class="items">
                
                
            </div>
        </div>
        {% if name == '' %}
        <center>
            <p>Error.</p>
        </center>
        {%else%}
        <div class="options">
            
                <div class = "row">
                    <div class="column">
                        <label class="container">
                            
                            <img src = {{u}}>
                            
                        </label>
                    </div>
                    <div class="column">
                        <label class="container">
                            <h3>Meme name:<br> {{name}}</h3>
                        </label>
                    </div>
                    <div class="column">
                        <label class="container">
                            <h3>Image dimensions: <br> {{w}} x {{h}} px</h3>
                        </label>
                    </div>
                    <div class="column">
                        <label class="container">
                            <h3>Number of text boxes: <br> {{b}}</h3>
                        </label>
                    </div>

                    

                </div>
                
            

        </div>
        {%endif%}
        <br>
        <br>
        <br>
        
    </body>


</html>