$red : rgb(218, 40, 40);



* {
    box-sizing: border-box;
  }
body{
    margin:0
}
@mixin column ($percentage){
    flex: $percentage;
    max-width: $percentage;
    padding: 0 4px;
}
.hero{
    display: flex;
    justify-content: center;
    height: 30vh;
    margin: 0;
    position: relative;
    background: lightcoral;
    .hero__text{
        position: relative;
        top: 30%;
        color: $red;
    }
    .items{
        float: right;
        position: absolute;
        top: 30%;
        left: 90%;

    }
}
.options{
    .row{
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
    }
    .column{
        @include column(25%);

        img{
            margin-top: 8px;
            vertical-align: middle;
            width: 100%;
        }
    }
    
    @media screen and (max-width: 800px) {
        .column{
            @include column(50%);
        }
    }
    @media screen and (max-width: 600px) {
        .column{
            @include column(100%);
        }
    }
    
    [type=checkbox]:before{
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
        display: none;
        visibility: hidden;
    }
    [type=checkbox]:before + img{
        display: inline-block;	
        width: 60px;
        height: 30px;
        cursor: pointer;	
        
    }
    [type=checkbox]:after + img{
        outline: 10px solid $red;
    }

    
    
    
    

    
}

.result{
    display: flex;
    justify-content: center;
}

[type=submit]{
    background-color:lightcoral;
    color: $red;
    border: none;
    padding: 10px 24px;
    font-size: 20px;
}